<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.CommonDao">

    <resultMap id="loginPO" type="com.tencent.wxcloudrun.model.po.LoginPO">
        <id column="openId" property="openID"/>
        <result column="userName" property="userName"/>
        <result column="userAvatar" property="userAvatar"/>
    </resultMap>

    <select id="login" resultMap="loginPO" parameterType="string">
        select * from loginTable where openId=#{openID};
    </select>

    <select id="getOpenID" resultType="string" parameterType="string">
        select seekerOpenId from seekersTable where seekerOpenId = #{openID};
    </select>

</mapper>