<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.IntentionDao">

    <resultMap id="IntentionPO" type="com.tencent.wxcloudrun.model.po.IntentionPO">
        <id column="openId" property="openId"/>
        <result column="intentionId" property="intentionId"/>
        <result column="expIndustry" property="expIndustry"/>
        <result column="expMaxSalary" property="expMaxSalary"/>
        <result column="expMinSalary" property="expMinSalary"/>
        <result column="jobType" property="jobType"/>
    </resultMap>
    <insert id="createIntention">

    </insert>

</mapper>
