<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.JobDao">

    <insert id="insertJob" useGeneratedKeys="true" keyProperty="id">
        insert into job(`name`, job_cate, education, experience, job_type, detail_pos, pos_id, max_salary, min_salary,
                        salary_type, tags, `describe`, requirement)
            value (#{name}, #{jobCate}, #{education}, #{experience}, #{jobType}, #{detailPos},
                   #{posId}, #{maxSalary}, #{minSalary}, #{salaryType}, #{tags}, #{describe}, #{requirement})
    </insert>

    <update id="updateJob">
        update job set
        <if test="name!=null">`name` = #{name},</if>
        <if test="jobCate!=null">job_cate = #{jobCate},</if>
        <if test="education">education = #{education},</if>
        <if test="experience!=null">experience = #{experience},</if>
        <if test="jobType!=null">job_type = #{jobType},</if>
        <if test="detailPos!=null">detail_pos = #{detailPos},</if>
        <if test="posId!=null">pos_id = #{posId},</if>
        <if test="maxSalary!=null">max_salary = #{maxSalary},</if>
        <if test="minSalary!=null">min_salary = #{minSalary},</if>
        <if test="salaryType!=null">salary_type = #{salaryType},</if>
        <if test="tags!=null">tags = #{tags},</if>
        <if test="describe!=null">`describe` = #{describe},</if>
        <if test="requirement!=null">requirement = #{requirement},</if>
        where id = #{id}
    </update>

    <insert id="connectHR">
        insert into hr_job(hr_id, jid)
            value (#{openId}, #{jobId});
    </insert>

    <delete id="deleteById">
        delete
        from job
        where id = #{id};
    </delete>

    <select id="selectJobById" resultType="com.tencent.wxcloudrun.model.po.JobPO">
        select *
        from job
        where id = #{jobId};
    </select>

    <select id="getHRByJobId" resultType="com.tencent.wxcloudrun.model.po.HRPO">
        select hr.`name`, avatar, open_id
        from hr,
             hr_job
        where jid = #{jobId}
          and hr.open_id = hr_job.hr_id;
    </select>

    <select id="getByHRId" resultType="com.tencent.wxcloudrun.model.po.JobPO">
        select job.id,
               `name`,
               job_cate,
               education,
               experience,
               job_type,
               detail_pos,
               pos_id,
               max_salary,
               min_salary,
               salary_type,
               tags,
               `describe`,
               requirement
        from job,
             hr_job
        where hr_id = #{openId}
          and id = jid;
    </select>

    <select id="getRecommend" parameterType="com.tencent.wxcloudrun.model.po.SearchPO"
            resultType="com.tencent.wxcloudrun.model.po.JobPO">
        select job.id,
        `name`,
        job_cate,
        education,
        experience,
        job_type,
        detail_pos,
        job.pos_id,
        max_salary,
        min_salary,
        salary_type,
        tags,
        `describe`,
        requirement
        from job, company, hr_job, company_hr
        <trim prefix="WHERE" prefixOverrides="AND | OR">
        <if test="job!=null">job.job_cate = #{job} and</if>
        <if test="industry!=null">
            company.industry = #{industry} and
            job.id = jid and hr_job.hr_id = company_hr.hr_id and
            company_hr.cid = company.id and
        </if>
        <if test="maxSalary!=null">job.max_salary &gt;= #{maxSalary} and</if>
        <if test="minSalary!=null">job.min_salary &lt;= #{minSalary} and</if>
        <if test="salaryType!=null">job.salary_type = #{salaryType} and</if>
        <if test="jobType!=null">job.job_type = #{jobType} and</if>
        <if test="posId!=null">job.pos_id = #{posId} and</if>
        </trim>
    </select>

    <select id="getJobListByIds" resultType="com.tencent.wxcloudrun.model.po.JobPO">
        select *
        from job
        where
        <foreach collection="list" item="item" index="index" separator="or">
            id = #{item}
        </foreach>;
    </select>

</mapper>