<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.SeekerDao">

    <insert id="setSeeker" parameterType="com.tencent.wxcloudrun.model.po.seeker.SeekerPO">
        insert into seeker(open_id, `name`, avatar, phone, `old`, education, birth,
                           gender)
            value (#{openId}, #{name}, #{avatar} ,#{phone}, #{old},
                   #{education}, #{birth,jdbcType=DATE,javaType=java.sql.Date},
                   #{gender});
    </insert>

    <insert id="setSeekerIntention" useGeneratedKeys="true" keyColumn="intentionId" keyProperty="intentionId">
        insert into seeker_intention(open_id, exp_industry, exp_max_salary, exp_min_salary, salary_type, job_type,
        exp_job) values
        <foreach collection="list" item="intention" index="index" separator=",">
            (#{intention.openId}, #{intention.expIndustry}, #{intention.expMaxSalary},
            #{intention.expMinSalary}, #{intention.salaryType}, #{intention.jobType}, #{intention.expJob})
        </foreach>;
    </insert>

    <select id="getSeeker">
        select *
        from seeker
        where open_id = #{openId};
    </select>

    <select id="getOpenId">
        select open_id
        from seeker
        where open_id = #{openId};
    </select>

    <select id="getIntentionById">
        select *
        from seeker_intention
        where open_id = #{openId};
    </select>

</mapper>